*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --bg: #E18C23;
    --black: #333;
    --blue: #226B9A;
    --red: #D65442;
    --white: #F8F3EE;
    --light-bg: #EEE0B3;
    --dark-grey: #475056;
    --overflow-margin: calc((100vw - 1024px) / 2);
    overscroll-behavior: none;
}

a {
    color: inherit;
}

img {
    display: block;
    padding: 0;
}

body {
    background-color: var(--bg);
    font-family: sans-serif;
}

input, button, textarea, select {
    font: inherit;
}

header {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    justify-content: space-between;
    margin: auto;
    max-width: 1024px;
    position: relative;

    h1 {
        color: var(--black);
        font-size: 3rem;
        font-weight: normal;
        padding: 1.5rem 1rem 1rem;
        -webkit-text-stroke: 1px var(--dark-grey);
    }

    img {
        max-height: 5rem;
        max-width: 100%;
        padding: 0.5rem;
    }

    .info {
        align-content: end;
        color: var(--light-bg);
        font-size: 1.5rem;
        margin: 0.5rem;

        br {
            display: none;
        }

        & > div {
            display: inline-block;
            font-weight: bold;
            text-transform: uppercase;
        }

        .location {
            span:first-child {
                color: var(--blue);
            }

            span:last-child {
                color: var(--red);
            }
        }

        .date {
            text-align: right;
        }
    }

    .language-switcher {
        display: flex;
        position: absolute;
        right: 0;
        top: 0.5rem;

        a, span {
            border-right: 1px solid var(--black);
            padding: 0 0.5rem;

            &:last-child {
                border-right-width: 0;
            }
        }

        a {
            color: var(--dark-grey);
            font-weight: normal;
            text-decoration: none;
        }

        span {
            font-weight: bold;
        }
    }
}

#banner {
    position: relative;

    picture {
    }

    img {
        filter: saturate(75%) sepia(20%);
        max-width: 100%;
        object-fit: cover;
        object-position: 50% 65%;
    }
}

menu {
    background: var(--light-bg);
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    margin: -1.5rem auto 0.5rem;
    max-width: 1024px;
    padding: 0;
    position: relative;

    li {
        display: inline-block;
        flex-grow: 1;
        margin: auto;
        text-align: center;
    }

    a {
        color: var(--dark-grey);
        display: block;
        font-weight: bold;
        padding: 0.75rem 0.5rem;
        text-decoration: none;

        &:hover, &:active {
            background: rgba(0, 0, 0, 0.1);
            text-shadow: var(--white) 1px 1px;
        }
    }
}

section.content {
    margin: 1.5rem auto 1rem;
    max-width: 1024px;
    position: relative;

    h2, h3, p {
        padding: 0 0.5rem;
    }
    h2 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        color: var(--blue);
    }
    h3 {
        margin: 1rem 0 0.5rem;

    }
    h2 + p {
        margin-top: 0.75rem;
    }
    p, ul {
        margin-bottom: 0.5rem;
    }
    li {
        margin-bottom: 0.25rem;
    }

    p {
        line-height: 1.5em;
    }

    & {
        min-height: 25vmax;
    }

    &:has(p), &:has(div) {
        min-height: 0;
    }

    &:has(.side-image) {
        overflow: hidden;
    }
}

.side-image {
    height: 100%;
    left: 70%;
    max-height: 100%;
    object-fit: cover;
    padding: 0;
    position: absolute;
    top: 0;
    width: 30%;
}

.side-image.full {
    object-fit: contain;
    object-position: left;
}

.content.race-info {
    padding-right: 30%;
}

@media (orientation: landscape) {
    .content.race-info {
        min-height: 60vh;
    }
}

.content.schedule {
    .days {
        display: grid;
        gap: 1rem 0.5rem;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 1rem;

        & > div {
            min-height: 5rem;

            &:last-child {
                border-right: none;
            }

            h3 {
                text-align: center;
            }
        }
    }
}

.content.registration {
    .side-image {
        height: auto;
        left: auto;
        max-height: calc(min(100%, 20rem));
        max-width: 40%;
        object-position: right;
        right: -10%;
        width: auto;
    }
}

.content.contact {
    p {
        margin-top: 1em;
        text-align: center;
    }
}

.content.sponsors {
    background-image: url("images/IMG_2309.webp");
    background-size: cover;
    margin: 0 auto;
    max-width: none;
    padding: 1rem 0 5rem;

    h2 {
        height: 0;
        visibility: hidden;
    }

    .logos {
        column-gap: 1rem;
        display: flex;
        justify-content: center;
        padding: 0 1rem;
    }

    .logos img {
        border-radius: 50%;
        max-width: 100px;
    }
}

@media screen and (max-width: 767px) {
    header {
        .language-switcher {
            right: 1rem;
        }
    }
}

@media screen and (min-width: 768px) {
    #banner img {
        max-height: 50vh;
        width: 100%;
    }

    header {

        img {
            max-height: 6rem;
        }

        .info {
            br {
                display: inline;
            }

            .date {
                margin-left: -1.5rem;
            }
        }
    }

    .content.registration {
        .side-image {
            right: -3%;
        }
    }
}

@media screen and (min-width: 1025px) {
    header {
        padding-left: 0;
        padding-right: 0;

        h1 {
            background-position-x: 0;
            margin-left: -25px;
            padding-left: calc(25px + 1rem);
        }

        img {
            max-height: 8rem;
        }
    }

    #banner > div {
        position: absolute;
        right: var(--overflow-margin);
    }

    menu {
        clip-path: polygon(
                0 0,
                100% 0,
                calc(100% - var(--ribbon-indent)) 50%,
                100% 100%,
                0 100%,
                var(--ribbon-indent) 50%
        );
        --ribbon-indent: .25em;
        padding: 0 calc(2 * var(--ribbon-indent));
    }

    section.content:has(.side-image) {
        overflow: visible;
    }

    .side-image {
        width: calc(30% + var(--overflow-margin));
    }

    .content.race-info {
        padding-right: calc(1024px * 0.3);
    }

    .content.schedule {
        .days {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .content.registration {
        .side-image {
            right: calc(max(min(-3%, -1 * var(--overflow-margin)), -10%));
        }
    }

    .content.contact {
        p {
            text-align: left;
        }
    }

    .content.sponsors {
        padding: 1rem var(--overflow-margin) 5rem;
    }
}
