*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --bg: #E18C23;
    --light-bg: #EEE0B3;
    --red: #D65442;
    --yellow: #F6B928;
    --blue: #226B9A;
    --white: #F8F3EE;
    --overflow-margin: calc((100vw - 1024px)/2);

    height: 100%;
    font-family: sans-serif;
    overscroll-behavior: none;
}

a {
    color: inherit;
}
img {
    display: block;
    padding: 0;
}

body {
    background-color: var(--bg);
}

input, button, textarea, select {
    font: inherit;
}

header {
    max-width: 1024px;
    margin: auto;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;

    h1 {
        padding: 1.5rem 1rem 1rem;
        color: #000;
        -webkit-text-stroke: 1px #555;
        font-weight: normal;
        font-size: 3rem;
        background-image: url("images/spray.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: -25px;
    }
    img {
        padding: 0.5rem;
        max-width: 100%;
        max-height: 5rem;
    }

    .info {
        margin: 0.5rem;
        font-size: 1.5rem;
        z-index: 1;
        color: var(--light-bg);
        align-content: end;

        br {
            display: none;
        }

        & > div {
            display: inline-block;
            text-transform: uppercase;
            font-weight: bold;
        }

        .location {
            span:first-child {
                color: var(--blue);
            }
            span:nth-child(3),span:nth-child(5) {
                color: var(--red);
            }
            span:nth-child(4) {
                color: var(--white);
            }
        }

        .date {
            text-align: right;
        }
    }
}

#banner {
    position: relative;

    picture {
    }
    img {
        max-width: 100%;
        object-fit: cover;
        filter: saturate(75%) sepia(20%);
    }
}

menu {
    max-width: 1024px;
    margin: -1.5rem auto 0.5rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-size: 1.25rem;
    padding: 0;
    background: var(--light-bg);

    li {
        margin: auto;
        display: inline-block;
        text-align: center;
        flex-grow: 1;
    }

    a {
        display: block;
        color: #475056;
        font-weight: bold;
        padding: 0.75rem 0.5rem;
        text-decoration: none;

        &:hover, &:active {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

section.content {
    position: relative;
    max-width: 1024px;
    margin: 1.5rem auto 1rem;

    h2 {
        padding: 0 0.5rem;
        color: var(--blue);
        border-bottom: 1px solid rgba(0,0,0,0.5);
    }

    p {
        padding: 0 0.5rem;
        line-height: 1.3em;
    }

    & {
        min-height: 25vmax;
    }
    &:has(p), &:has(div) {
        min-height: 0;
    }

    &:has(.side-image) {
        overflow: hidden;
    }
}

.side-image {
    padding: 0;
    position: absolute;
    top: 0;
    left: 70%;
    max-height: 100%;
    width: 30%;
    object-fit: cover;
    height: 100%;
}
.side-image.full {
    object-fit: contain;
    object-position: left;
}

.content.race-info {
    padding-right: 30%;
}
@media (orientation: landscape) {
    .content.race-info {
        min-height: 60vh;
    }
}

.content.schedule {
    .days {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem 0.5rem;

        & > div {
            min-height: 5rem;

            &:last-child {
                border-right: none;
            }

            h3 {
                text-align: center;
            }
        }
    }
}

.content.registration {
    .side-image {
        left: 80%;
        width: 50%;
        max-height: none;
    }
}

.content.contact {
    p {
        margin-top: 1em;
        text-align: center;
    }
}

.content.sponsors {
    max-width: none;
    margin: 0 auto;
    padding: 1rem 0 5rem;
    background-image: url("images/IMG_2309.webp");
    background-size: cover;

    h2 {
        visibility: hidden;
        height: 0;
    }

    .logos {
        display: flex;
        justify-content: center;
    }
    .logos img {
        max-width: 100px;
    }
}

@media screen and (min-width: 768px) {
    #banner img {
        width: 100%;
        max-height: 50vh;
    }

    header {
        justify-content: space-between;
    }
    header .info {
        br {
            display: inline;
        }
        .date {
            margin-left: -1.5rem;
        }
    }

}

@media screen and (min-width: 1025px) {
    header {
        padding-left: 0;
        padding-right: 0;

        h1 {
            padding-left: calc(25px + 1rem);
            margin-left: -25px;
            background-position-x: 0;
        }
        img {
            max-height: 8rem;
        }
    }
    #banner > div {
        position: absolute;
        right: var(--overflow-margin);
    }

    menu {
        --ribbon-indent: .25em;
        padding: 0 calc(2* var(--ribbon-indent));
        clip-path:
                polygon(
                        0 0,
                        100% 0,
                        calc(100% - var(--ribbon-indent)) 50%,
                        100% 100%,
                        0 100%,
                        var(--ribbon-indent) 50%
                );
    }
    section.content:has(.side-image) {
        overflow: visible;
    }
    .side-image {
        width: calc(30% + var(--overflow-margin));
    }
    .content.race-info {
        padding-right: calc(1024px * 0.3);
    }
    .content.schedule {
        .days {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .content.registration {
        .side-image {
            /*width: auto;*/
            max-width: calc(20% + var(--overflow-margin));
        }
    }

    .content.contact {
        p {
            text-align: left;
        }
    }

    .content.sponsors {
        padding: 1rem var(--overflow-margin) 5rem;
    }
}
